<!-- views/account.ejs -->
<div class="form-container">
  <h1><%= title %></h1>

  <% if (typeof message !== 'undefined' && message) { %>
  <div class="flash-message">
    <p><%= message %></p>
  </div>
  <% } %> <% if (typeof errors !== 'undefined' && errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
    <% }) %>
  </ul>
  <% } %>

  <form action="/account/register" for="registerForm" method="post" class="form-card" id="registerForm" novalidate>
    <p class="form-requirements">All fields are required</p>
    <label for="first_name"> First Name</label>
    <input
      type="text"
      id="account_firstname"
      name="account_firstname"
      placeholder="ex: John"
      required
      maxlength="100"
      value="<%= locals.account_firstname %>"
    />

    <label for="last_name"> Last Name</label>
    <input
      type="text"
      id="account_lastname"
      name="account_lastname"
      placeholder="ex: Doe"
      required
      maxlength="100"
      value="<%= locals.account_lastname %>"
    />

    <!-- Email -->
    <label for="account_email">Email</label>
    <input
      type="email"
      id="account_email"
      name="account_email"
      placeholder="Enter a valid email address"
      required
      maxlength="100"
      pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
      value="<%= locals.account_email %>"
    />
    <small id="emailError" class="error-msg"></small>

    <!-- Password -->
    <label for="account_password">Password </label>
    <div class="password">
      <input
        type="password"
        id="account_password"
        name="account_password"
        required
        minlength="12"
        maxlength="100"
        pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9]).{12,}"
        placeholder=" Password"
      />
      <img
        src="/images/site/close-eye.svg"
        alt=" toggle password visibility"
        id="togglePassword"
        class="password-icon"
      />
    </div>

    <p class="password-requirements"
      >Must contain at least 1 uppercase, 1 lowercase, 1 number, 1 special character and 12 or more characters</p
    >
    <small id="passwordError" class="error-msg"></small>

    <button class="form-button" type="submit">Register</button>
  </form>

  <p class="form-footer"> You already have an account? <a href="/account/login">Login</a> </p>
</div>
